<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BasePath" value="Q://NewContosoDB/" />
        <add key="PathToFatString" value="Q://fat_string.csv" />
        <add key="ConnectionString" value="Server=127.0.0.1,49170;User id=admin;Password=;Database=ContosoRetailDW;TrustServerCertificate=True;" />
    </appSettings>
</configuration>